################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Expressions/BlockExpressionsExamples/.vs
/Expressions/BlockExpressionsExamples/obj
/Expressions/SimpleExpressionsExamples/.vs
/Expressions/SimpleExpressionsExamples/bin/Debug/net6.0
/Expressions/SimpleExpressionsExamples/obj
/Expressions/BlockExpressionsExamples/bin/Debug/net6.0
/DependencyInjectionSamples/Implementations/bin/Debug/net6.0
/DependencyInjectionSamples/Implementations/obj
/DependencyInjectionSamples/Interfaces/bin/Debug/net6.0
/DependencyInjectionSamples/Interfaces/obj
/DependencyInjectionSamples/IoCyTests/.vs
/DependencyInjectionSamples/IoCyTests/bin/Debug/net6.0
/DependencyInjectionSamples/IoCyTests/obj
/DependencyInjectionSamples/IoCyDynamicLoadingTests/.vs
/DependencyInjectionSamples/IoCyDynamicLoadingTests/bin/Debug/net6.0
/DependencyInjectionSamples/IoCyDynamicLoadingTests/obj
/DependencyInjectionSamples/AutofacAdapterTests/.vs
/DependencyInjectionSamples/AutofacAdapterTests/bin/Debug/net6.0
/DependencyInjectionSamples/AutofacAdapterTests/obj
/DependencyInjectionSamples/AutofacAdapterDynamicLoadingTests/.vs
/DependencyInjectionSamples/AutofacAdapterDynamicLoadingTests/bin/Debug/net6.0
/DependencyInjectionSamples/AutofacAdapterDynamicLoadingTests/obj
/DependencyInjectionSamples/PluginsTest/.vs
/DependencyInjectionSamples/PluginsTest/MainProgram/bin/Debug/net6.0
/DependencyInjectionSamples/PluginsTest/MainProgram/obj
/DependencyInjectionSamples/PluginsTest/PluginInterfaces/bin/Debug/net6.0
/DependencyInjectionSamples/PluginsTest/PluginInterfaces/obj
/DependencyInjectionSamples/PluginsTest/Plugins/DoubleManipulationsPlugin/bin/Debug/net6.0
/DependencyInjectionSamples/PluginsTest/Plugins/DoubleManipulationsPlugin/obj
/DependencyInjectionSamples/PluginsTest/StringManipulationsPlugin/bin/Debug/net6.0
/DependencyInjectionSamples/PluginsTest/StringManipulationsPlugin/obj
/GRPC/Interfaces/obj
/GRPC/SimpleGrpcClient/obj
/GRPC/SimpleGrpcServerTest/.vs
/GRPC/SimpleGrpcServerTest/obj
/PluginPackageSamples/.vs
/PluginPackageSamples/PackagePlugins/.vs/PackagePluginsTest
/PluginPackageSamples/PackagePlugins/MainProgram/bin/Debug/net6.0/Plugins
/PluginPackageSamples/PackagePlugins/Plugins/DoubleManipulationsPlugin/bin/Debug/net6.0
/PluginPackageSamples/PackagePlugins/Plugins/DoubleManipulationsPlugin/obj
/PluginPackageSamples/PackagePlugins/Plugins/StringManipulationsPlugin/bin/Debug/net6.0
/PluginPackageSamples/PackagePlugins/Plugins/StringManipulationsPlugin/obj
/PluginPackageSamples/PluginInterfaces/bin/Debug/net6.0
/PluginPackageSamples/PluginInterfaces/obj
/PluginPackageSamples/PackagePlugins/Plugins/StringManipulationsPlugin/bin/Debug
/PluginPackageSamples/PackagePlugins/Plugins/DoubleManipulationsPlugin/bin/Debug
/PluginPackageSamples/PackagePlugins/.vs/ProjectEvaluation
/PluginPackageSamples/PluginsConsumer/.vs
/PluginPackageSamples/PluginsConsumer/bin/Debug/net6.0
/PluginPackageSamples/PluginsConsumer/obj
/GRPC/SimpleRequestReplySample/Interfaces/obj
/GRPC/SimpleRequestReplySample/SimpleGrpcClient/obj
/GRPC/SimpleRequestReplySample/SimpleGrpcServerTest/.vs
/GRPC/SimpleRequestReplySample/SimpleGrpcServerTest/obj
/GRPC/SimpleRequestReplySample/Interfaces/bin/Debug/net6.0
/GRPC/SimpleRequestReplySample/SimpleGrpcClient/bin/Debug/net6.0
/GRPC/SimpleRequestReplySample/SimpleGrpcServerTest/bin/Debug/net6.0
/GRPC/SimpleRequestReplySample/NodejsClient/bin
/GRPC/SimpleRequestReplySample/NodejsClient/node_modules
/GRPC/SimpleRequestReplySample/NodejsClient/obj/Debug
/GRPC/SimpleRequestReplySample/SimpleNodeJSClient/bin
/GRPC/SimpleRequestReplySample/SimpleNodeJSClient/node_modules
/GRPC/SimpleRequestReplySample/SimpleNodeJSClient/obj/Debug
/GRPC/SimpleRequestReplySample/SimplePythonGrpcClient/__pycache__
/GRPC/SimpleRequestReplySample/SimplePythonGrpcClient/service_pb2_grpc.py
/GRPC/SimpleRequestReplySample/SimplePythonGrpcClient/service_pb2.pyi
/GRPC/SimpleRequestReplySample/SimplePythonGrpcClient/service_pb2.py
*.user
/GRPC/SimpleRequestReplySample/SimplePythonGrpcClient/env
/GRPC/SimpleRequestReplySample/SimpleGrpcServer/.vs
/GRPC/SimpleRequestReplySample/SimpleGrpcServer/bin/Debug/net6.0
/GRPC/SimpleRequestReplySample/SimpleGrpcServer/obj
/GRPC/StreamingSample/CSHARP/PublishSample/bin/Debug/net6.0
/GRPC/StreamingSample/CSHARP/PublishSample/obj
/GRPC/StreamingSample/CSHARP/SubscribeSample/bin/Debug/net6.0
/GRPC/StreamingSample/CSHARP/SubscribeSample/obj
/GRPC/StreamingSample/Protos/bin/Debug/net6.0
/GRPC/StreamingSample/Protos/obj
/GRPC/StreamingSample/StreamingRelayServer/.vs
/GRPC/StreamingSample/StreamingRelayServer/bin/Debug/net6.0
/GRPC/StreamingSample/StreamingRelayServer/obj
/GRPC/StreamingSample/NodeJS/PublishNodeJsApp/bin
/GRPC/StreamingSample/NodeJS/PublishNodeJsApp/node_modules
/GRPC/StreamingSample/NodeJS/PublishNodeJsApp/obj/Debug
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsApp/bin
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsApp/node_modules
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsApp/obj/Debug
/GRPC/StreamingSample/NodeJS/PublishNodeJsSample/bin
/GRPC/StreamingSample/NodeJS/PublishNodeJsSample/node_modules/.bin
/GRPC/StreamingSample/NodeJS/PublishNodeJsSample/node_modules
/GRPC/StreamingSample/NodeJS/PublishNodeJsSample/obj/Debug
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsSample/bin
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsSample/node_modules
/GRPC/StreamingSample/NodeJS/SubscribeNodeJsSample/obj/Debug
/GRPC/StreamingSample/Python/PublishPythonSample/env/Lib/site-packages
/GRPC/StreamingSample/Python/PublishPythonSample/env
/GRPC/StreamingSample/Python/PublishPythonSample/__pycache__
/GRPC/StreamingSample/Python/PublishPythonSample/service_pb2_grpc.py
/GRPC/StreamingSample/Python/PublishPythonSample/service_pb2.py
/GRPC/StreamingSample/Python/SubscribePythonSample/env
/GRPC/StreamingSample/Python/SubscribePythonSample/__pycache__
/GRPC/StreamingSample/Python/SubscribePythonSample/service_pb2_grpc.py
/GRPC/StreamingSample/Python/SubscribePythonSample/service_pb2.py
