[submodule "SubModules/NP.IoCy"]
	path = SubModules/NP.IoCy
	url = https://github.com/npolyak/NP.IoCy.git
[submodule "SubModules/NP.DependencyInjection"]
	path = SubModules/NP.DependencyInjection
	url = https://github.com/npolyak/NP.DependencyInjection
[submodule "SubModules/NP.IoC.CommonImplementations"]
	path = SubModules/NP.IoC.CommonImplementations
	url = https://github.com/npolyak/NP.IoC.CommonImplementations
