################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Expressions/BlockExpressionsExamples/.vs
/Expressions/BlockExpressionsExamples/obj
/Expressions/SimpleExpressionsExamples/.vs
/Expressions/SimpleExpressionsExamples/bin/Debug/net6.0
/Expressions/SimpleExpressionsExamples/obj
/Expressions/BlockExpressionsExamples/bin/Debug/net6.0
/DependencyInjectionSamples/Implementations/bin/Debug/net6.0
/DependencyInjectionSamples/Implementations/obj
/DependencyInjectionSamples/Interfaces/bin/Debug/net6.0
/DependencyInjectionSamples/Interfaces/obj
/DependencyInjectionSamples/IoCyTests/.vs
/DependencyInjectionSamples/IoCyTests/bin/Debug/net6.0
/DependencyInjectionSamples/IoCyTests/obj
