@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div style="height: 200px;background-color:tran;align-self:stretch;margin-right:0px;margin-left:0px;color:White">
    <h1 class="display-2 text-white" style="text-align:center !important;font-family: var(--bs-body-font-family);">AWebProps.com</h1>
</div> *@
<div class="text-center"
     style="margin-top:30px;font-size:22px;text-align:left">
    <h1 class="display-1" style="text-align:left">About Us</h1>
    <div style="font-size:22px;text-align:left;margin-right:20px">
        <p>
        We are a consulting company that specializes on building powerful Multi-Platform User Interfaces 
        using primarily C# and Avalonia, but also HTML and JavaScript. We work extremely fast and produce 
        clean and easy to understand code. 
        </p>
        <p>
            We cover all major client platforms including Windows, Mac OS, Linux, iOS, and Android.
        </p>
        <p>
            We have a great record of success with with various customers including
        </p>

    </div>
@*   
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 *@
</div>