@page
@model AWebProsSite.Pages.OnLineSamplesModel
@{
    ViewData["Title"] = "On-Line Samples";
}
<h1 class="display-1" style="text-align:left;margin-top:40px">ASP gRPC Samples</h1>

<a href="/AspGrpcTests/HtmlGrpcTestPage">Html/JavaScript gRPC Client</a><span></span><span></span><span></span>
<a href="/AspGrpcTests/AvaGripTestContainerPage">Avalonia in Browser via Webassembly gRPC Client</a>