astroid==2.13.2
colorama==0.4.6
dill==0.3.6
grpcio==1.51.1
grpcio-tools==1.51.1
isort==5.11.4
lazy-object-proxy==1.9.0
mccabe==0.7.0
pip==22.3
platformdirs==2.6.2
protobuf==4.21.12
pylint==2.15.10
setuptools==65.5.0
tomlkit==0.11.6
typing_extensions==4.4.0
wrapt==1.14.1
