@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>AWebPros.Com, Inc</h1>


<a href="/OnLineSamples" style="margin-right:25px;">Online Samples</a><span></span><span></span><span></span>



