@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>ASP gRPC Samples</h1>

<a href="/AspGrpcTests/HtmlGrpcTestPage" style="margin-right:20px;">Html/JavaScript gRPC Invocation</a><span></span><span></span><span></span>
<a href="/AspGrpcTests/AvaloniaGrpcTestPage">Avalonia in Browser gRPC Invocation</a>