@page
@model MyTestsWebSite.Pages.OnLineSamplesModel
@{
    ViewData["Title"] = "On-Line Samples";
}
<a href="/" style="font-size:20px;font-weight:bold;margin:10px">AWebPros.Com Home</a>
<h1>ASP gRPC Samples</h1>

<a href="/AspGrpcTests/HtmlGrpcTestPage" style="margin-right:20px;">Html/JavaScript gRPC Client</a><span></span><span></span><span></span>
<a href="/AspGrpcTests/AvaloniaGrpcTestPage">Avalonia in Browser via Webassembly gRPC Client</a>
<a href="/DataGridTests/SimpleDataGroupingTestPage">DataGrid Demo Client</a>