@page
@model AWebProsSite.Pages.AspGrpcTests.AvaloniaGrpcTestPageModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/app.css" />
</head>
<body style="overflow: hidden">
    <div id="out">
        <div id="avalonia-splash">
            <div class="center" style="border:hidden;border-top-width:0px">
                <h2 class="purple" style="border:hidden;border-top-width:0px">
                    Powered by
                    <a class="highlight" href="https://www.avaloniaui.net/" target="_blank">Avalonia UI</a>
                </h2>
            </div>
            <img class="icon" src="~/Logo.svg" alt="Avalonia Logo" />
        </div>
    </div>
    <script type='module' src="~/mainForAvalonia.js"></script>
</body>